<!DOCTYPE html>
<html lang=english>
<head>

	<title>Tolu Madamori |Vet Doctor |Aspiring Techbro</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="style.css" media="all" />

</head>
<body id="body">

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Tolu Madamori</h1>
					<h2>Vet Doctor| Aspiring Techbro</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">Download my cv here</a></h3>
						<h3><a href="send me a mail">tmadamori@gmail.com</a></h3>
						<h3>08099211502</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>About me</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								I am a Vet doctor fed up with the system in Nigeria looking to switch to Tech, because man, who doesnt want to enter tech. 
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Tech Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Data Analysis</h2>
									<p>Clean data is my first love and I can derive insights from her	</p>
								</div>

								<div class="talent">
									<h2>Back end</h2>
									<p>My focus for this HNG internship. I thrive in the background. I love to the pull the strings.</p>
								</div>

								<div class="talent">
									<h2>Front End</h2>
									<p>Meh... I am aesthetically challenged and so I stick to the backend. My skills are basic level</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Languages</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>R</li>
								<li>Basic Octave</li>
								<li class="last"></li>
							</ul>

							<ul class="talent">
								<li>Golang</li>
								<li>Python</li>
								<li class="last"></li>
							</ul>

							<ul class="talent">
								<li>Html</li>
								<li>CSS</li>
								<li class="last"></li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Professional Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Obasanjo Farms, Ota</h2>
								<h3>Resident Veterinary Doctor</h3>
								<h4>06/2021 - present</h4>
								<p>Intrinsicly enable optimal core competencies through corporate relationships. Phosfluorescently implement worldwide vortals and client-focused imperatives. Conveniently initiate virtual paradigms and top-line convergence. </p>
							</div>

							<div class="job">
								<h2>Tuns Farms, Osogbo</h2>
								<h3>Resident Veterinary Doctor</h3>
								<h4>10/2020 - 05/2021</h4>
								<p>Progressively reconceptualize multifunctional "outside the box" thinking through inexpensive methods of empowerment. Compellingly morph extensive niche markets with mission-critical ideas. Phosfluorescently deliver bricks-and-clicks strategic theme areas rather than scalable benefits. </p>
							</div>
				

							<div class="job last">
								<h2>Government Veterinary Clinic, Oleh, Delta State</h2>
								<h3>Resident Veterinary Doctor</h3>
								<h4>01/2020 - 09/2020</h4>
								<p>Intrinsicly transform flexible manufactured products without excellent intellectual capital. Energistically evisculate orthogonal architectures through covalent action items. Assertively incentivize sticky platforms without synergistic materials. </p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>University of Ilorin, Ilorin</h2>
							<h3>Doctor of Veterinary Medicine (DVM),  2019&mdash; <strong>Distinction</strong> </h3>
						</div>
					</div><!--// .yui-gf -->








					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Have a job for me?</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Your Details</h2>
									<form action = "/submit"method = "POST">
										<label for="yname">Your Name:</label><br>
  										<input type="text" id="yname" name="yname"><br>
										<label for="ymail">Your email address:</label><br>
  										<input type="text" id="ymail" name="ymail"><br>
										<label for="ymessage">type your message:</label><br>
  										<input type="text" id="ymessage" name="ymessage"><br>
										 <label for="submit"><strong></strong></label><br>
  										<input type="submit" id="submit" name="submit"><br>

									</form>
								</div>

								<div class="talent">
									<h2>What type of work?</h2>
									<form method = "POST">
										<label for="end">Back end?</label><br>
  										<input type="radio" id="end" name="end"><br>
										<label for="analysis">Data analysis?</label><br>
  										<input type="radio" id="analysis" name="analysis"><br>
										<label for="fend">Front end?</label><br>
  										<input type="radio" id="fend" name="fend"><br>
										



									</form>
								</div>
								<div class="talent">
									<h2>Require consultation?</h2>
									<form method = "POST">
										<label for="consultation1">Yes</label><br>
  										<input type="radio" id="consultation1" name="consultation1"><br>
										<label for="consultation2">No</label><br>
  										<input type="radio" id="consultation2" name="consultation2"><br>
										<label for="consultation3">Maybe, reach out anyway</label><br>
  										<input type="radio" id="consultation3" name="consultation3"><br>



									</form>
								</div>
						</div>
					</div><!--// .yui-gf -->







					<div class="yui-gf">
						<div class="yui-u first">
							<h2><strong>Click</strong></h2>
							<h4>the image to visit</h4>
						</div>
						<div class="yui-u ">
							<a href="https://hng.tech/">
							<img  src= "hng internship logo.png" width =250 height = 50>
							</a>

							<a href="https://zuri.team/">
							<img src= "zuri logo.png" width =100 height = 50 >
							</a>

							<a href="https://ingressive.org/">
							<img id= img3 src= "i4g.png" width =250 height = 50>
							</a>
						</div>
					</div><!--// .yui-gf -->











				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Tolu Madamori&mdash; <a href="send me a mail">tmadamori@gmail.com</a> &mdash; 08099211502</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

