<!DOCTYPE html>
<html lang=english>
<head>

	<title>Message Sent</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="style.css" media="all" />
</head>
<body id="body">
<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u">
						    <h1>Your Message was sent, and I'll reach out to you as soon as Possible.</h1>
						</div>
                    </div>        
					<div class="yui-u">
				        <h3 class="enlarge"> Thank you for reaching out</h3>
                        <h3 class="enlarge">Tolu Madamori</h3>
                        <h3 class="enlarge">tmadamori@gmail.com</h3>
                        <p class="enlarge"><a href="index.gohtml"> go back to resume </a> </p>
					</div>
				</div>
              
            </div>
          
    </div>
</body>
