<!DOCTYPE html>
<html lang=english>
<head>

	<title>Message Sent</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="style.css" media="all" />
</head>
<body id="body">
    <div id="doc2" class="yui-t7">
        <h1>Your Message was sent, and I'll reach out to you as soon as Possible.</h1>
        <h3> Thank you for reaching out</h3>
        <h3>Tolu Madamori</h3>
        <h3>tmadamori@gmail.com</h3>
        <p>go back to resume <a href="/index.gohtml"> </a> </p>
    </div>
</body>